body{
    background: url(images/sf.jpg);
    background-color: rgba(0, 0, 0, 0.226);
    background-blend-mode: darken;
}

.col-md-8, .row{
    color: aliceblue;
    font-size: 40px;
    
}

.row{
    background-color: rgba(199, 58, 58, 0.731);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
}

p{
    font-size: 20px;
}

input, textarea{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
}

input:focus:valid{
    background-color: rgb(183, 248, 118);
}

input:focus:invalid{
    background-color:rgb(247, 129, 129);
}

