body{
    background: url(images/sf.jpg);
    background-color: rgba(0, 0, 0, 0.226);
    background-blend-mode: darken;
}

.col-md-8, .row{
    color: aliceblue;
    font-size: 40px;
    
}

.row{
    background-color:rgba(46, 25, 11, 0.7);
    padding: 10px;
    border-radius: 30px;
    border: 2px solid white;
    
}

p{
    font-size: 20px;
}

input, textarea{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 8px;
    
}

input:focus:valid{
    background-color: rgb(183, 248, 118);
}

input:focus:invalid{
    background-color:rgb(247, 129, 129);
}
.mb-2_w-100,.mb-3_w-100,.mb-1_w-100{
margin-left: 250px;



}
.btn_btn-primary_w-100{
    margin-left: 330px;
    width: 100px;
    border-radius: 15px;
    height: 50px;
    font-size: 20px;
}
.text{
    font-size: 20px;

    
}
.btn_btn-primary_w-100:hover{
    background-color: rgb(99, 75, 43);
}
label{
    margin-top: -50px;
}
