nav {
    background: rgb(34, 34, 34);
    border-radius: 20;
    border-top-left-radius: 20;
    border-top-right-radius: 20;
    border-bottom-right-radius: 20;
    border-bottom-left-radius: 20;
    border-style: none;
    padding-top: 0;
    padding-bottom: 10px;
    height: 61px;
    padding-right: 0px;
    padding-left: 24px;
}

div.dropdown-menu {
    background-color: rgb(34, 34, 34);
}

li {
    padding: 10px;
}

a span {
    color: white;
}

a span:hover {
    color: blue;

}

li a:hover {
    color: white !important;
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scaleX(1);
    }
}

a.dropdown-item:hover {
    animation-name: pulse;
    animation-duration: 1s;
}

.navbar-toggler{
    background-color:#ECF8F9;
}

.collapse{
    background-color: rgb(34,34,34);
    transition-duration: 0s;
    transition-delay: 0s;
}