h2{
    text-align: center;
    background-color: rgb(85, 54, 0);
    color: white;
    padding: 20px;
    margin-top: 10px;
    font-family:fantasy;
    width: 90%;
    margin-bottom: 1%;
    opacity: 1;
    padding: 20px;
    margin-left:70px;
    border-radius: 25px;

}

row{
    width: 100%;
    margin: 0px;
} 

form{
    padding: 20px;
    color: white;
    width: 98%;

}

li span{
    color: black !important;
    background-color: rgb(255, 196, 0);
    
}

body{
    background: url(images/coffee-beans-top-view-white-background-space-text_176474-5028.avif);
    background-color: rgba(0, 0, 0, 0.406);
    background-blend-mode: darken;
}

.submit{
    text-align: center;
}

.container.step1{
    max-width: 100%;
    padding: 0px;
    margin-top: 1%;
}


.btn {
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    box-shadow: 0 2px 0 2px #000;
    margin-top: 20px;
}
   
.btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}
   
.btn:hover {
    background-color: #4cc9f0;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}
   
.btn:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
}
   
.btn:active {
    transform: scale(0.9);
}

#items{
    background-color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.hide_as_link {
    text-decoration: none;
    color: #000000;
}
.hide_as_link :active {
    color: #000000;
}


#inputAddress, #inputAddress2{
    width: 55%;
}